body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
}

#contador {
    font-size: 40px;
    margin: 20px;
}